@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>The doctor has been successfully deleted</div>
    <button>
        @Html.ActionLink("Back to all doctors", "Doctors")
    </button>
</body>
</html>
