*.csharp linguist-detectable=true  
*.ps linguist-detectable=false  
*.ps1 linguist-detectable=false
*.psm1 linguist-detectable=false
*.psd1 linguist-detectable=false  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.xml linguist-detectable=false
