@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>The patient has been successfully deleted</div>
    <button>
        @Html.ActionLink("Back to all patients", "Patients")
    </button>
</body>
</html>
