@{
    ViewBag.Title = "Index";
}

<ol class="nav navbar-nav">
    <li><button>@Html.ActionLink("Doctors", "Doctors", "Doctor")</button></li>
    <li><button>@Html.ActionLink("Patients", "Patients", "Patient")</button></li>
    <li><button>@Html.ActionLink("Timetables", "Timetables", "Timetable")</button></li>
</ol>